In [273]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os

In [274]:
os.getcwd()

'C:\\Users\\TriciaToffey\\desktop\\GitHubs\\ETL_Project\\no_dog_etl'

In [275]:
df_orig=pd.read_csv("./Resources/dog_breed_characteristics.csv")
df_orig.head(5)

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,NaN,NaN,NaN,93.0
2,African Hunting Dog,NaN,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Airedale,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,NaN,NaN,NaN,55.0
4,Akbash,NaN,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN

In [276]:
df_orig.columns

Index(['BreedName', 'AltBreedName', 'Group1', 'Group2', 'MaleWtKg',
       'Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog',
       'MalaysiaGuardedDog', 'MalaysiaProhibitedDog', 'MalaysiaPopularity',
       'PopularityUS2017'],
      dtype='object')

In [277]:
df=df_orig.drop(["AltBreedName", "MalaysiaGuardedDog", "MalaysiaProhibitedDog", "MalaysiaPopularity"], axis=1)

In [278]:
df.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
2,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
4,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN

In [279]:
df.sort_values(by=['PopularityUS2017'])

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
64,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
31,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
143,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
209,Shepherd,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...
198,Sarplaninac,Working,Guardian,33.0,"Independent, Calm, Devoted, Intelligent, Prote...",900.0,NaN,5.0,NaN
218,South Russian Ovtcharka,Herding,Herding,49.0,"Active, Balanced, Courageous, Lively, Nervous",900.0,NaN,4.0,NaN
225,Thai Ridgeback,Hound,Sight,28.0,"Familial, Independent, Loving, Loyal, Protective",700.0,NaN,2.0,NaN
229,Tosa Inu,Working,Guardian,65.0,"Aggressive, Brave, Fearless, Intelligent, Sens...",700.0,NaN,6.0,NaN
249,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [280]:
df[['BreedName', 'PopularityUS2017']]

                           BreedName  PopularityUS2017
0                      Affenpinscher             147.0
1                       Afghan Hound              93.0
2                African Hunting Dog               NaN
3                   Airedale Terrier              55.0
4                             Akbash               NaN
..                               ...               ...
245               Wirehaired Terrier              99.0
246  Xoloitzcuintle/Mexican Hairless             143.0
247        Yellow Labrador Retriever               1.0
248         Yorkshire Terrier Yorkie               9.0
249                      Mixed Breed               NaN

[250 rows x 2 columns]

In [281]:
df_sorted = df.sort_values(by=["PopularityUS2017"])
df_sorted.tail(25)

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
120,Hovawart,Working,Guardian,38.0,"Watchful, Even-tempered, Reserved, Active, Dev...",1100.0,NaN,6.0,NaN
123,Illyrian Sheepdog,Herding,Herding,40.0,"Independent, Reliable, Devoted, Protective",1500.0,NaN,6.0,NaN
133,Jindo,Sporting,Northern,20.0,"Active, Bold, Brave, Faithful, Intelligent, Loyal",350.0,NaN,4.0,NaN
134,Kai Dog,Non Sporting,Northern,18.0,"Intelligent, Agile, Alert, Brave",3000.0,NaN,5.0,NaN
135,Karelian Bear Dog,Sporting,Northern,22.0,"Brave, Cautious, Loyal, Independent, Tenacious...",1100.0,NaN,4.0,NaN
138,Kishu,Sporting,Northern,20.0,"Alert, Dignified, Docile, Faithful, Noble",400.0,NaN,4.0,NaN
139,Klee Kai,Non Sporting,Northern,7.0,"Active, Agile, Curious, Intelligent, Loyal, Qu...",1250.0,NaN,5.0,NaN
142,Kyi Leo,Non Sporting,Companion,5.0,"Active, Calm, Forgiving, Obedient, Playful, Quiet",700.0,NaN,3.0,NaN
145,Lancashire Heeler,Herding,Herding,5.0,"Alert, Clever, Friendly, Intelligent",700.0,NaN,3.0,NaN
151,Maremma Sheepdog,Working,Guardian,38.0,"Alert, Determined, Dignified, Friendly, Intell...",700.0,NaN,4.0,NaN
153,McNab,Herding,Herding,23.0,"Friendly, Hard-working, Obedient, Protective, ...",400.0,NaN,3.0,NaN
155,Mountain Cur,Working,Scenthound,20.0,"Intelligent, Protective",400.0,NaN,6.0,NaN
157,Munsterlander,Sporting,Gun,20.0,"Intelligent, Trainable, Attentive, Mischevious",1500.0,NaN,3.0,NaN
159,New Guinea Singing Dog,Southern,Southern,11.0,"Active, Affectionate, Alert, Gentle, Lively",3000.0,NaN,3.0,NaN
170,Patterdale Terrier (Fell Terrier),Terrier,Terrier,6.0,"Bold, Confident, Energetic, Friendly, Inquisit...",600.0,NaN,3.0,NaN
172,Peruvian Inca Orchid,Hound,Sight,10.0,"Affectionate, Alert, Intelligent, Lively, Nobl...",500.0,NaN,4.0,NaN
175,Pit Bull Terrier,Terrier,Terrier,23.0,"Affectionate, Aggressive, Clownish, Courageous...",600.0,NaN,3.0,NaN
183,Miniature Poodle,Toy,Companion,8.0,"Active, Alert, Faithful, Instinctual, Intellig...",1250.0,2.0,4.0,NaN
184,Toy Poodle,Toy,Companion,4.0,"Active, Alert, Faithful, Instinctual, Intellig...",1250.0,2.0,4.0,NaN
186,Presa Canario,Working,Guardian,40.0,"Calm, Dominant, Gentle, Strong-willed, Suspicious",2100.0,NaN,6.0,NaN
198,Sarplaninac,Working,Guardian,33.0,"Independent, Calm, Devoted, Intelligent, Prote...",900.0,NaN,5.0,NaN
218,South Russian Ovtcharka,Herding,Herding,49.0,"Active, Balanced, Courageous, Lively, Nervous",900.0,NaN,4.0,NaN
225,Thai Ridgeback,Hound,Sight,28.0,"Familial, Independent, Loving, Loyal, Protective",700.0,NaN,2.0,NaN
229,Tosa Inu,Working,Guardian,65.0,"Aggressive, Brave, Fearless, Intelligent, Sens...",700.0,NaN,6.0,NaN
249,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
#df = df.loc[df['PopularityUS2017'].notnull()]

In [283]:
duplicates = df["PopularityUS2017"].value_counts().loc[lambda x:x>1]

In [284]:
duplicates =  df['PopularityUS2017'].value_counts().to_frame()
duplicates=duplicates.reset_index()
duplicates.head(25)

    index  PopularityUS2017
0    68.0                 4
1     1.0                 4
2   118.0                 4
3     2.0                 3
4     3.0                 2
5   122.0                 2
6    70.0                 2
7     7.0                 2
8    29.0                 2
9   130.0                 2
10   25.0                 2
11   95.0                 2
12   42.0                 2
13  113.0                 2
14  187.0                 2
15   99.0                 2
16   12.0                 2
17   80.0                 2
18   56.0                 2
19  179.0                 1
20   76.0                 1
21  158.0                 1
22  184.0                 1
23  140.0                 1
24  182.0                 1

In [285]:
duplicates=duplicates.loc[duplicates["PopularityUS2017"]>=2]
duplicates

    index  PopularityUS2017
0    68.0                 4
1     1.0                 4
2   118.0                 4
3     2.0                 3
4     3.0                 2
5   122.0                 2
6    70.0                 2
7     7.0                 2
8    29.0                 2
9   130.0                 2
10   25.0                 2
11   95.0                 2
12   42.0                 2
13  113.0                 2
14  187.0                 2
15   99.0                 2
16   12.0                 2
17   80.0                 2
18   56.0                 2

In [286]:
df_sorted = df.sort_values(by=["PopularityUS2017"])
#df_sorted.tail(25)
#There is no dog with PopularityUS2017 rank of 189

In [287]:
akc_df=pd.read_csv("index.csv")
#akc_df.head()

In [288]:
akc_df["Breed"].value_counts(ascending=False)

Dandie Dinmont Terriers    1
Great Danes                1
Belgian Malinois           1
Wirehaired Vizslas         1
Papillons                  1
                          ..
Setters (English)          1
Beaucerons                 1
Cirnechi dell’Etna         1
Xoloitzcuintli             1
Finnish Spitz              1
Name: Breed, Length: 190, dtype: int64

In [289]:
df["BreedName"].value_counts(ascending=False)

Giant Schnauzer              2
Miniature Poodle             1
German Wirehaired Pointer    1
Great Pyrenees               1
Canaan Dog                   1
                            ..
English Shepherd             1
American Eskimo Dog          1
Karelian Bear Dog            1
English Cocker Spaniel       1
Bloodhound                   1
Name: BreedName, Length: 249, dtype: int64

In [290]:
pop_select=akc_df.loc[akc_df['breed_rank']==190]
pop_select

     breed_id                 Breed  breed_rank
189       190  Norwegian Lundehunds         190

In [291]:
pop_select=df.loc[df['PopularityUS2017']==80]
pop_select

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
109,Giant Schnauzer,Working,Companion,38.0,"Dominant, Intelligent, Kind, Loyal, Powerful, ...",1250.0,28.0,6.0,80.0
202,Giant Schnauzer,Working,Herding,31.0,"Devoted, Good-natured, Intelligent, Lively, Pl...",1250.0,NaN,NaN,80.0

In [292]:
df.at[109,'BreedName']   #[row,column] -- Giant Schnauzer (Companion)
df.at[202,'BreedName']   #[row,column] -- Giant Schnauzer (Herding)

'Giant Schnauzer'

In [293]:
df.at[109,'BreedName']="Giant Schnauzer (Companion)"
df.at[202,'BreedName']="Giant Schnauzer (Herding)"

In [294]:
#df.at[109,'BreedName']   
df.at[202,'BreedName']

'Giant Schnauzer (Herding)'

In [295]:
merged_df=akc_df.merge(df, how="left", left_on="breed_rank", right_on="PopularityUS2017")

In [296]:
merged_df  #characteristics database is missing #189

,breed_id,Breed,breed_rank,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,1,Retrievers (Labrador),1,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
1,1,Retrievers (Labrador),1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
2,1,Retrievers (Labrador),1,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,1,Retrievers (Labrador),1,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
4,2,German Shepherd Dogs,2,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,187,American Foxhounds,187,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
212,187,American Foxhounds,187,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
213,188,Sloughis,188,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0,188.0
214,189,English Foxhounds,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,190,Norwegian Lundehunds,190,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0,190.0

In [297]:
merged_df.at[214,'BreedName']="English Foxhounds"

In [298]:
merged_df.isna().sum().sum()

175

In [299]:
merged_df.drop(columns=['breed_id'])

,Breed,breed_rank,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Retrievers (Labrador),1,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
1,Retrievers (Labrador),1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
2,Retrievers (Labrador),1,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,Retrievers (Labrador),1,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
4,German Shepherd Dogs,2,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
211,American Foxhounds,187,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
212,American Foxhounds,187,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
213,Sloughis,188,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0,188.0
214,English Foxhounds,189,English Foxhounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Norwegian Lundehunds,190,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0,190.0

In [300]:
akc_updated = pd.DataFrame(merged_df, columns = ['BreedName','Breed', 'breed_rank'])

In [301]:
akc_updated.head()

                      BreedName                  Breed  breed_rank
0      Black Labrador Retriever  Retrievers (Labrador)           1
1  Chocolate Labrador Retriever  Retrievers (Labrador)           1
2            Labrador Retriever  Retrievers (Labrador)           1
3     Yellow Labrador Retriever  Retrievers (Labrador)           1
4           German Shepherd Dog   German Shepherd Dogs           2

In [485]:
akc_updated.to_csv("akc_updated.csv")

In [302]:
df_updated = pd.DataFrame(merged_df, columns = ['BreedName', 'Group1', 'Group2', 'MaleWtKg','Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog'])

In [303]:
df_updated.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog
0,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
2,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
3,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
4,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0

In [304]:
df_updated

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog
0,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
2,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
3,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
4,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0
...,...,...,...,...,...,...,...,...
211,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0
212,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0
213,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0
214,English Foxhounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0

In [486]:
df_updated.to_csv("df_updated")

In [305]:
nyc_df=pd.read_csv("./2017.csv")
nyc_df

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Spayed Female,BICHON FRISE,WHITE,CHLOE,15090,2017,12/15/2016 9:58
1,Dog Senior Citizen or Disability Spayed Female,CHIHUAHUA,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32
2,Dog Individual Spayed Female,LAB MIX,YELLOW,MIA,15133,2017,2/28/2017 10:59
3,Dog Individual Male,DACHSHUND,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40
4,Dog Individual Spayed Female,DACHSHUND,BLACK,SOPHIE,15108,2017,2/9/2017 13:40
...,...,...,...,...,...,...,...
21722,Dog Individual Female,BOXER,BRINDLE,RUBY,15116,2017,3/27/2017 14:47
21723,Dog Individual Spayed Female,MIXED,WHITE/BLACK,STELLALUNA,15216,2017,3/27/2017 14:53
21724,Dog Individual Male,LABRADOR RETRIEVER,BLACK,JAXXON,15112,2017,3/27/2017 14:53
21725,Dog Individual Female,GER SHEPHERD,BLACK/TAN,BONNIE,15202,2017,3/28/2017 8:45
21726,Dog Senior Citizen or Disability Neutered Male,CHIHUAHUA,BLACK,DOZER,15210,2017,3/28/2017 8:45

In [306]:
nyc_df["Breed"].value_counts()

MIXED                 2300
LABRADOR RETRIEVER    1379
LAB MIX               1194
GER SHEPHERD           748
GOLDEN RETRIEVER       694
                      ...
KARELIAN BEAR DOG        1
FIELD SPANIEL            1
BELG SHEPHERD            1
IRISH TERRIER            1
FILA BRASILEIRO          1
Name: Breed, Length: 265, dtype: int64

In [352]:
pop_select=df.loc[df['BreedName']=='Boxer']
pop_select

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
44,Boxer,Working,Guardian,30.0,"Brave, Bright, Confident, Energetic, Fearless,...",900.0,49.0,5.0,11.0

In [335]:
pop_select=nyc_df.loc[nyc_df['Breed']=='Tag']
pop_select

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
422,Dog Individual Neutered Male,Tag,MULTI,CHARLIE,15102,2017,1/3/2017 8:57
689,Dog Individual Neutered Male,Tag,BRINDLE,DIGGER,15116,2017,1/3/2017 8:40
781,Dog Senior Citizen or Disability Spayed Female,Tag,SPOTTED,LADY,15136,2017,1/9/2017 16:01
861,Dog Individual Spayed Female,Tag,WHITE,LILY,15205,2017,1/24/2017 9:02
1306,Dog Individual Spayed Female,Tag,WHITE/BLACK,DARIA,15237,2017,2/23/2017 14:47
...,...,...,...,...,...,...,...
21683,Dog Senior Citizen or Disability Spayed Female,Tag,WHITE/BROWN,SADIE,15122,2017,3/23/2017 14:27
21684,Dog Individual Neutered Male,Tag,BLACK,WILLY,15120,2017,3/23/2017 14:32
21685,Dog Senior Citizen or Disability Neutered Male,Tag,BLACK,WILLY,15120,2017,3/24/2017 15:13
21690,Dog Senior Citizen or Disability Female,Tag,BLACK,IZZY,15120,2017,3/24/2017 8:38
21698,Dog Individual Spayed Female,Tag,BROWN,EVIE,15228,2017,3/27/2017 8:34

In [308]:
nyc_df['Breed'] = nyc_df['Breed'].str.title()
nyc_df

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Spayed Female,Bichon Frise,WHITE,CHLOE,15090,2017,12/15/2016 9:58
1,Dog Senior Citizen or Disability Spayed Female,Chihuahua,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32
2,Dog Individual Spayed Female,Lab Mix,YELLOW,MIA,15133,2017,2/28/2017 10:59
3,Dog Individual Male,Dachshund,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40
4,Dog Individual Spayed Female,Dachshund,BLACK,SOPHIE,15108,2017,2/9/2017 13:40
...,...,...,...,...,...,...,...
21722,Dog Individual Female,Boxer,BRINDLE,RUBY,15116,2017,3/27/2017 14:47
21723,Dog Individual Spayed Female,Mixed,WHITE/BLACK,STELLALUNA,15216,2017,3/27/2017 14:53
21724,Dog Individual Male,Labrador Retriever,BLACK,JAXXON,15112,2017,3/27/2017 14:53
21725,Dog Individual Female,Ger Shepherd,BLACK/TAN,BONNIE,15202,2017,3/28/2017 8:45
21726,Dog Senior Citizen or Disability Neutered Male,Chihuahua,BLACK,DOZER,15210,2017,3/28/2017 8:45

In [309]:
for i, row in nyc_df.iterrows():
    value = "German Shepherd Dog"
    if nyc_df.loc[i, "Breed"]=="Ger Shepherd":
        nyc_df.at[i,'Breed'] = value

In [310]:
for i, row in nyc_df.iterrows():
    value = "Labrador Retriever"
    if nyc_df.loc[i, "Breed"]=="Lab Mix":
        nyc_df.at[i,'Breed'] = value

In [311]:
for i, row in nyc_df.iterrows():
    value = "Polish Lowland Sheepdog"
    if nyc_df.loc[i, "Breed"]=="Polish Lowlnd Sheep":
        nyc_df.at[i,'Breed'] = value

In [312]:
for i, row in nyc_df.iterrows():
    value = "Irish Setter"
    if nyc_df.loc[i, "Breed"]=="Irish Red&White Set":
        nyc_df.at[i,'Breed'] = value

In [313]:
for i, row in nyc_df.iterrows():
    value = "Pit Bull Terrier"
    if nyc_df.loc[i, "Breed"]=="Am Pit Bull Terrier":
        nyc_df.at[i,'Breed'] = value

In [314]:
for i, row in nyc_df.iterrows():
    value = "Beagle"
    if nyc_df.loc[i, "Breed"]=="Beagle Mix":
        nyc_df.at[i,'Breed'] = value

In [315]:
for i, row in nyc_df.iterrows():
    value = "German Shepherd"
    if nyc_df.loc[i, "Breed"]=="Ger Shepherd Mix":
        nyc_df.at[i,'Breed'] = value

In [316]:
for i, row in nyc_df.iterrows():
    value = "Terrier"
    if nyc_df.loc[i, "Breed"]=="Terrier Mix":
        nyc_df.at[i,'Breed'] = value

In [328]:
for i, row in nyc_df.iterrows():
    value = "Pit Bull Terrier"
    if nyc_df.loc[i, "Breed"]=="Am Pitt Bull Mix":
        nyc_df.at[i,'Breed'] = value

In [331]:
for i, row in nyc_df.iterrows():
    value = "Yorkshire Terrier Yorkie"
    if nyc_df.loc[i, "Breed"]=="Yorkshire Terrier Mix":
        nyc_df.at[i,"Breed"] = value

In [347]:
for i, row in nyc_df.iterrows():
    value = "Siberian Huskie"
    if nyc_df.loc[i, "Breed"]=="Sib Husky":
        nyc_df.at[i,"Breed"] = value

In [353]:
for i, row in nyc_df.iterrows():
    value = "Boxer"
    if nyc_df.loc[i, "Breed"]=="Boxer Mix":
        nyc_df.at[i,"Breed"] = value

In [366]:
for i, row in nyc_df.iterrows():
    value = "Jack Russell Terrier (Parson Russell Terrier)"
    if nyc_df.loc[i, "Breed"]=="Parson Russell Terrier":
        nyc_df.at[i,"Breed"] = value

In [367]:
for i, row in nyc_df.iterrows():
    value = "Jack Russell Terrier (Parson Russell Terrier)"
    if nyc_df.loc[i, "Breed"]=="Jack Russel Terr":
        nyc_df.at[i,"Breed"] = value

In [374]:
for i, row in nyc_df.iterrows():
    value = "Miniature Schnauzer"
    if nyc_df.loc[i, "Breed"]=="Schnauzer Min":
        nyc_df.at[i,"Breed"] = value

In [375]:
for i, row in nyc_df.iterrows():
    value = "Shetland Sheepdog Sheltie"
    if nyc_df.loc[i, "Breed"]=="Shetland Sheepdog":
        nyc_df.at[i,"Breed"] = value

In [380]:
for i, row in nyc_df.iterrows():
    value = "Chihuahua"
    if nyc_df.loc[i, "Breed"]=="Chihuahua Mix":
        nyc_df.at[i,"Breed"] = value

In [385]:
for i, row in nyc_df.iterrows():
    value = "Border Collie"
    if nyc_df.loc[i, "Breed"]=="Bord Collie":
        nyc_df.at[i,"Breed"] = value

In [386]:
for i, row in nyc_df.iterrows():
    value = "Poodle"
    if nyc_df.loc[i, "Breed"]=="Poodle Mix":
        nyc_df.at[i,"Breed"] = value

In [391]:
for i, row in nyc_df.iterrows():
    value = "Austrialian Shepherd"
    if nyc_df.loc[i, "Breed"]=="Aus Shepherd":
        nyc_df.at[i,"Breed"] = value

In [392]:
for i, row in nyc_df.iterrows():
    value = "English Bulldog"
    if nyc_df.loc[i, "Breed"]=="Eng Bulldog":
        nyc_df.at[i,"Breed"] = value

In [402]:
for i, row in nyc_df.iterrows():
    value = "West Highland White Terrier Westie"
    if nyc_df.loc[i, "Breed"]=="W Hghlnd Wh Terrier":
        nyc_df.at[i,"Breed"] = value

In [407]:
for i, row in nyc_df.iterrows():
    value = "Shih Tzu"
    if nyc_df.loc[i, "Breed"]=="Shih Tzu Mix":
        nyc_df.at[i,"Breed"] = value

In [412]:
for i, row in nyc_df.iterrows():
    value = "Cavalier King Charles Spaniel"
    if nyc_df.loc[i, "Breed"]=="Cav King Char Spani":
        nyc_df.at[i,"Breed"] = value

In [417]:
for i, row in nyc_df.iterrows():
    value = "Miniature Pinscher"
    if nyc_df.loc[i, "Breed"]=="Min Pinscher":
        nyc_df.at[i,"Breed"] = value

In [422]:
for i, row in nyc_df.iterrows():
    value = "Toy Poodle"
    if nyc_df.loc[i, "Breed"]=="Poodle Toy":
        nyc_df.at[i,"Breed"] = value

In [427]:
for i, row in nyc_df.iterrows():
    value = "English Springer Spaniel"
    if nyc_df.loc[i, "Breed"]=="Eng Springer Spanie":
        nyc_df.at[i,"Breed"] = value

In [434]:
for i, row in nyc_df.iterrows():
    value = "German Shorthaired Pointer"
    if nyc_df.loc[i, "Breed"]=="Ger Shorthair Point":
        nyc_df.at[i,"Breed"] = value

In [441]:
for i, row in nyc_df.iterrows():
    value = "Standard Poodle"
    if nyc_df.loc[i, "Breed"]=="Poodle Standard":
        nyc_df.at[i,"Breed"] = value

In [442]:
for i, row in nyc_df.iterrows():
    value = "Bishon Frise"
    if nyc_df.loc[i, "Breed"]=="Bishon Frise Mix":
        nyc_df.at[i,"Breed"] = value

In [443]:
for i, row in nyc_df.iterrows():
    value = "Collie"
    if nyc_df.loc[i, "Breed"]=="Collie Mix":
        nyc_df.at[i,"Breed"] = value

In [454]:
for i, row in nyc_df.iterrows():
    value = "Old English Sheepdog"
    if nyc_df.loc[i, "Breed"]=="Old Eng Sheepdog":
        nyc_df.at[i,"Breed"] = value

In [460]:
for i, row in nyc_df.iterrows():
    value = "Cocker Spaniel"
    if nyc_df.loc[i, "Breed"]=="Cocker Spaniel Mix":
        nyc_df.at[i,"Breed"] = value

In [468]:
for i, row in nyc_df.iterrows():
    value = "American Eskimo Dog"
    if nyc_df.loc[i, "Breed"]=="Am Eskimo Dog":
        nyc_df.at[i,"Breed"] = value

In [476]:
for i, row in nyc_df.iterrows():
    value = "Miniature Poodle"
    if nyc_df.loc[i, "Breed"]=="Poodle Min":
        nyc_df.at[i,"Breed"] = value

In [477]:
nyc_df.drop(nyc_df[nyc_df['Breed'] == "Mixed"].index, inplace = True)

In [478]:
nyc_df.drop(nyc_df[nyc_df['Breed'] == "Tag"].index, inplace = True)

In [479]:
top_counts = nyc_df["Breed"].value_counts().to_frame()

In [480]:
top_counts.head(50)

                                               Breed
Labrador Retriever                              2573
Beagle                                           965
Pit Bull Terrier                                 836
Chihuahua                                        830
Shih Tzu                                         771
German Shepherd Dog                              748
Golden Retriever                                 694
Boxer                                            639
Yorkshire Terrier                                495
Dachshund                                        444
Terrier                                          348
German Shepherd                                  315
Maltese                                          271
Cocker Spaniel                                   264
Pomeranian                                       252
Goldendoodle                                     245
Pug                                              239
Yorkshire Terrier Yorkie                         228
Rottweiler                                       196
Bichon Frise                                     190
Siberian Huskie                                  189
Boston Terrier                                   188
Shetland Sheepdog Sheltie                        182
Jack Russell Terrier (Parson Russell Terrier)    171
Miniature Schnauzer                              167
Collie                                           163
Border Collie                                    157
Poodle                                           154
Austrialian Shepherd                             151
English Bulldog                                  150
Labradoodle                                      148
West Highland White Terrier Westie               142
Cockapoo                                         140
Cavalier King Charles Spaniel                    127
Miniature Pinscher                               123
Toy Poodle                                       117
English Springer Spaniel                         113
Havanese                                         109
Jack Russel Terrier                              107
Puggle                                           106
Lhasa Apso                                       105
Doberman Pinscher                                102
German Shorthaired Pointer                        99
Morkie                                            97
Standard Poodle                                   94
Great Dane                                        92
Greyhound                                         89
Cairn Terrier                                     87
Bishon Frise                                      83
Weimaraner                                        81

In [484]:
merged_nyc = nyc_df.merge(df, how="left", left_on="Breed", right_on="BreedName")
merged_nyc.head(200)

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Dog Individual Spayed Female,Bichon Frise,WHITE,CHLOE,15090,2017,12/15/2016 9:58,Bichon Frise,Non Sporting,Companion,4.0,"Affectionate, Cheerful, Feisty, Gentle, Playfu...",850.0,45.0,3.0,46.0
1,Dog Senior Citizen or Disability Spayed Female,Chihuahua,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32,Chihuahua,Toy,Companion,2.0,"Alert, Courageous, Devoted, Lively, Intelligen...",700.0,67.0,2.0,32.0
2,Dog Individual Spayed Female,Labrador Retriever,YELLOW,MIA,15133,2017,2/28/2017 10:59,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,Dog Individual Male,Dachshund,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
4,Dog Individual Spayed Female,Dachshund,BLACK,SOPHIE,15108,2017,2/9/2017 13:40,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Dog Individual Male,Dachshund,BLACK/TAN,BUSTER,15133,2017,1/4/2017 15:49,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
196,Dog Senior Citizen or Disability Spayed Female,Maltese,WHITE,CAMMI NICOLE,15122,2017,12/23/2016 8:44,Maltese,Toy,Companion,4.0,"Active, Docile, Easygoing, Gentle, Intelligent...",700.0,59.0,3.0,33.0
197,Dog Individual Spayed Female,Dachshund,BROWN,KANGA,15236,2017,1/9/2017 9:11,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
198,Dog Individual Spayed Female,Collie,BLACK/BROWN,LADY BUG,15102,2017,1/11/2017 14:10,Collie,Herding,Herding,31.0,"Friendly, Gentle, Intelligent, Loyal, Protecti...",500.0,16.0,5.0,40.0
199,Dog Individual Spayed Female,Shiba Inu,WHITE/RED,SUKI,15017,2017,2/15/2017 15:53,Shiba Inu,Non Sporting,Companion,10.0,"Alert, Charming, Confident, Faithful, Fearless...",900.0,NaN,4.0,45.0

In [482]:
merged_nyc.isna().sum().sum()

40723

In [475]:
merged_nyc["Breed"].value_counts()

Labrador Retriever    2573
Beagle                 965
Pit Bull Terrier       836
Chihuahua              830
Shih Tzu               771
                      ...
Polish Hound             1
Belg Shepherd            1
Treeing Cur              1
Jindo                    1
Carolina Dog             1
Name: Breed, Length: 253, dtype: int64

In [488]:
merged_nyc.to_csv("merged_nyc")

In [ ]:
#df.loc[df.PopularityUS2017 == 68.0, 'BreedName'] = "Cardigan Welsh Corgis"
#Changed Welsh Corgi, Cardigan, Pembroke, Corgi to Cardigan Welsh Corgis